name: passkit

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "passkit/**"
      - ".github/workflows/passkit.yaml"
    branches:
      - master

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@v1
    with:
      flutter_version: 3.22.2
      working_directory: passkit
      # TODO: Increase minimum coverage to 100% gradually.
      min_coverage: 50
